node_modules
.DS_Store
.env
.vercel

# build
/dist
/.turbo

# app-builder state
/.app-builder

# next
/apps/web/.next
/apps/web/out

# local env
/apps/web/.env.local
/apps/web/.env.*.local
.env*.local
apps/web/tsconfig.tsbuildinfo
